@import "null.css";
@import url("https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Taviraj:100,100italic,700italic,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Neonderthaw:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dongle:300,regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quintessential:regular&display=swap");

@font-face {
  font-family: CircularStd;
  src: url("fonts/CircularStd-Black.woff2") format("woff2"), url("fonts/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: CircularStd;
  src: url("fonts/CircularStd-Bold.woff2") format("woff2"), url("fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: CircularStd;
  src: url("fonts/CircularStd-Book.woff2") format("woff2"), url("fonts/CircularStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: CircularStd;
  src: url("fonts/CircularStd-BookItalic.woff2") format("woff2"),
    url("fonts/CircularStd-BookItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: CircularStd;
  src: url("fonts/CircularStd-Medium.woff2") format("woff2"), url("fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.circularstd {
  font-family: "CircularStd", "sans-serif";
  color: aqua;
}
.circularstd-900 {
  font-weight: 900;
  font-size: 40px;
  color: blue;
  text-align: right;
  letter-spacing: 10px;
  text-decoration: underline;
}
.circularstd-500 {
  font-weight: 500;
  font-size: 25px;
  color: rgb(32, 180, 27);
  text-align: center;
}
.neon-regular {
  font-family: "Neonderthaw, cursive";
  color: blueviolet;
  font-size: 37px;
  text-indent: 40px;
  text-decoration: line-through;
}
.quint {
  font-family: "Quintessential", cursive;
  color: brown;
  font-size: xx-large;
  text-shadow: 5px 5px 10px rgb(10, 3, 3), 2px 3px 2px rgb(105, 12, 12);
  word-spacing: 30px;
  line-height: 50px;
}

.dongle-bold {
  font-family: "Dongle", "sans-serif";
  font-weight: 700;
}
.circularstd700 {
  font-family: "CircularStd", "sans-serif";
  font-weight: 700;
  font-size: 25px;
  color: cornflowerblue;
}
.dongle-regular {
  font-family: "Dongle", "sans-serif";
  font-weight: 400;
}
.circularstd700italic {
  font-family: "CircularStd", "sans-serif";
  font-weight: 700;
  font-style: italic;
  font-size: 49px;
  word-spacing: 20px;
  line-height: 30px;
}
.block {
  font-family: "Taviraj", "serif";
  text-decoration: underline;
  font-size: 50px;
}
.dongle-light {
  font-family: "Dongle", "sans-serif";
  font-weight: 300;
  text-transform: capitalize;
}
.taviraj100 {
  font-weight: 100;
  letter-spacing: 10px;
  text-transform: lowercase;
  text-indent: 90px;
  line-height: 200px;
}
.taviraj100-italic {
  font-weight: 100;
  font-style: italic;
  text-align: center;
}
.taviraj700-italic {
  font-weight: 700;
  font-style: italic;
  font-size: 50px;
  word-spacing: 30px;
  line-height: 200px;
}
.taviraj-extra-bold {
  font-weight: 800;
  text-align: right;
  text-shadow: 5px 5px 5px rgb(26, 124, 17), 2px 5px 2px rgb(127, 201, 30);
  text-transform: uppercase;
  letter-spacing: 50px;
}

span {
  color: rgb(86, 139, 0);
  font-weight: 900;
  font-size: 40px;
}
a {
  color: rgb(243, 2, 2);
  font-weight: 500;
  font-size: 50px;
  line-height: 200px;
}
footer {
  text-align: center;
}
h1,
h2 {
  color: brown;
  font-size: 70px;
  text-align: center;
}
.lato {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
}
.lato-900 {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;
}
.lato700 {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
}
.block-align {
  text-align: center;
}
